body {
    background-color: #464646 ;
}
.selscrn {
   display: grid; 
   grid-template-columns: 25% 25% 25% 25%;
   place-items: center;
}
a {
    color: white;
    font-size: 48px;
    text-decoration: none;
    
}
a:hover {
    color: #bebebe
}
.gallery {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}
.gallery img {
    width: 95%
}
h6 {
    text-align: center;
    font-size: 50px;
    color: white;
}